.blur {
  position: absolute;
  z-index: 1;
  border-radius: 900px;
  filter: blur(var(--blur-amount));
  background: var(--color);
}

.blur:nth-child(1) {
  height: var(--blur-1-size);
  width: calc(var(--blur-1-size) * 1.1);
}

.blur:nth-child(2) {
  filter: blur(var(--blur-amount)) hue-rotate(135deg) brightness(1.3);
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 0.75);
  top: 20vh;
  right: 20vh;
}

.blur:nth-child(3) {
  filter: blur(var(--blur-amount)) hue-rotate(-135deg);
  height: var(--blur-3-size);
  width: calc(var(--blur-3-size) * 2);
  bottom: 20vh;
  left: 20vw;
}

.credit {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 2;

  a {
    color: #222;
  }
}

.waveUnderline {
  text-decoration-style: wavy;
  text-decoration-color: #f94144;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.subHeading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // border-bottom: 1px dashed #f94144;
}

@media only screen and (max-width: 500px) {
  .subHeading {
    flex-direction: column;
  }
}

.module {
  height: 100vh;
  width: 100vw;
}

.secondSection {
  padding: 1vw;
  height: 100vh;
  background: #f4f4f4;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.arrowLeftWithDottedRectangleBackground {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8rem;
  margin-bottom: 4rem;
}

.rectangle1Wrapper {
  position: absolute;
  margin-left: 100px;
  margin-bottom: 60px;
  overflow: hidden;
}

.arrowRightFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.arrowRightFlexItems {
  margin-inline: -1rem;
  width: 60px;
  height: 60px;
}

.rectangle1 {
  opacity: 75%;
  height: 60px;
}

.rectangle2Wrapper {
  position: absolute;
  margin-left: -120px;
  margin-bottom: -60px;
  overflow: hidden;
}

.rectangle2 {
  opacity: 75%;
  height: 60px;
}

// Top Right Animation
.arrowRightWithDottedRectangleBackground {
  z-index: -1; // Setting to -1 to not show on the page
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-left: 8rem;
  margin-top: 4rem;
}

.rectangle1Right {
  position: absolute;
  margin-right: 0px;
  margin-top: -60px;
  opacity: 50%;
  height: 60px;
}

.rectangle2Right {
  position: absolute;
  margin-right: 220px;
  margin-top: 60px;
  opacity: 50%;
  height: 60px;
}

.arrowLeftFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.arrowLeftFlexItems {
  margin-inline: -1rem;
  width: 60px;
  height: 60px;
}



/////////////////////////////////////////////////////////
.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow: hidden;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .arrowLeftWithDottedRectangleBackground {
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  .centerRow {
    flex-direction: column;
  }
}

.floatingIcons {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.linuxServerIcon {
  position: absolute;
  top: 18vh;
  left: 15vw;
  transform: rotate(-15deg);
}

.coffeeToGo {
  position: absolute;
  top: 30vh;
  left: 47vw;
  transform: rotate(-15deg);
}

.gameIcon {
  position: absolute;
  top: 15vh;
  right: 10vw;
  transform: rotate(15deg);
}

.githubIcon {
  position: absolute;
  bottom: 18vh;
  right: 40vw;
  transform: rotate(5deg);
}

.penguin {
  position: absolute;
  top: 25vh;
  left: 15vw;
  font-size: 5rem;
  transform: rotate(-15deg);
}

.controller {
  position: absolute;
  top: 20vh;
  right: 20vw;
  font-size: 4rem;
  transform: rotate(15deg);
}

@media only screen and (max-width: 500px) {
  .linuxServerIcon {
    width: 75px;
    height: 75px;
    top: 5vh;
    left: 10vw;
  }
  
  .gameIcon {
    width: 75px;
    height: 75px;
    top: 5vh;
    right: 5vw;
  }
  
  .githubIcon {
    width: 75px;
    height: 75px;
    bottom: 16vh;
  }

  .coffeeToGo {
    top: 18vh;
    left: 40vw;
  }
}
