.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.switchWrapper {
    // width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchSize {
    width: 10vw;
    height: 10vw;
}